@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #27272a;
  color: #e5e7eb;
}

main {
  min-height: calc(100vh - 4.25rem);
  margin-top: 4.5rem;
}

@layer base {
  .btn:disabled {
    color: theme("colors.darkGray");
    border: 1px solid theme("colors.darkGray");
    padding: 0.5rem;
    border-radius: 8px;
    background: theme("colors.middleGray");
  }

  .toggle-btn__open {
    padding: 0.06rem 0.12rem;
    font-size: 0.65rem;
    margin-left: 0.25rem;
    cursor: pointer;
  }

  .toggle-btn__close {
    padding: 0 0.15rem;
    font-size: 0.75rem;
    margin-left: 0.25rem;
    cursor: pointer;
  }

  @media (min-width: 47rem) {
    .mobile-wrapper {
      display: none !important;
    }
  }

  @media (max-width: 47rem) {
    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.4);
    }

    .main-nav {
      display: none !important;
    }
  }
}
