@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282828;
}

main {
  min-height: calc(100vh - 4.25rem);
  margin-top: 4.5rem;
}

@layer base {
  .my-link a {
    color: black;
  }

  .my-link a:hover {
    color: white;
  }

  .login-btn {
    color: #ddd3d3;
    border: 1px solid #ddd3d3;
    padding: 0.5rem;
    border-radius: 8px;
    background: #5604c8;
  }

  .login-btn:hover {
    color: black;
    background: #7d2feb;
    border: 1px solid black;
  }

  .login-btn:disabled {
    color: #232222;
    border: 1px solid #2c2929;
    padding: 0.5rem;
    border-radius: 8px;
    background: #676363;
  }

  .form-error {
    border: 1px solid red;
  }

  .error-text {
    color: rgb(138, 25, 25);
  }
}
