@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282828;
}

main {
  min-height: calc(100vh - 4.25rem);
  margin-top: 4.5rem;
}

@layer base {
  .my-link a {
    color: black;
  }

  .my-link a:hover,
  .my-link a:active {
    color: white;
  }

  .login-btn {
    color: black;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 8px;
    background: #5604c8;
  }

  .login-btn:hover,
  .login-btn:active {
    color: #b4a8a8;
    border: 1px solid #b4a8a8;
    background: #5106ba;
  }

  .login-btn:disabled {
    color: #232222;
    border: 1px solid #2c2929;
    padding: 0.5rem;
    border-radius: 8px;
    background: #676363;
  }

  .like-btn {
    background: #5604c8;
    border: 1px solid black;
    color: black;
    font-size: 0.8rem;
    border-radius: 8px;
    padding: 0.4rem;
  }

  .like-btn:hover,
  .like-btn:active {
    color: #b4a8a8;
    border: 1px solid #b4a8a8;
    background: #5106ba;
  }

  .form-error {
    border: 1px solid red;
  }

  .error-text {
    color: rgb(138, 25, 25);
  }

  .toggle-btn__open {
    border: 1px solid black;
    color: black;
    padding: 0.06rem 0.12rem;
    font-size: 0.65rem;
    margin-left: 0.25rem;
    cursor: pointer;
  }

  .toggle-btn__close {
    border: 1px solid black;
    color: black;
    padding: 0 0.16rem;
    font-size: 0.75rem;
    margin-left: 0.25rem;
    cursor: pointer;
  }

  /* .toggle-btn:hover,
  .toggle-btn:active {
    
  } */

  @media (min-width: 47rem) {
    .mobile-wrapper {
      display: none !important;
    }
  }

  @media (max-width: 47rem) {
    .main-nav {
      display: none !important;
    }

    .toggle-button {
      width: 3rem;
      background: transparent;
      border: none;
      cursor: pointer;
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: middle;
    }

    .toggle-button:focus {
      outline: none;
    }

    .toggle-button__bar {
      width: 100%;
      height: 0.2rem;
      background: black;
      display: block;
      margin: 0.6rem 0;
    }
  }
}
